.app .chat-app {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.chat__menu {
  width: 40%;
  border-right: 1px black solid;
  display: flex;
  flex-direction: column;
}

.chat__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #DADADA;
}

.chat-container {
  height: 100%;
  border: 1px black solid;
  border-radius: 6px;
  background: white;
  margin: 5px;
}

.chat__main--conversation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-replybox-container {
  height: 185px;
  background: white;
  margin: 5px;
  border: 1px black solid;
  border-radius: 6px;
}
