
.App-logo {
  height: 8rem;
  margin: 1rem;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app-login__banner {

}

.app-login--select {
  align-self: center;
  width: 200px;
  display: flex;
  height: 30rem;
  align-content: space-evenly;
  flex-flow: wrap;
}

.app-login {
  margin: 3rem;

  button {
    width: 200px;
  }
}
