.text-area {
  white-space: pre-wrap;
}

.replybox {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100%;
}

.replybox__text-area {
  display: block;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: 150px;
  white-space: pre-wrap;
  text-align: left;
  cursor: text;
  margin: 10px;
  text-indent: 5px;
  > div {
    background: white;
    height: 100%;
    overflow: auto;
    padding-top: 5px;

    &[data-placeholder]:empty:before {
      content: attr(data-placeholder);
      color: gray;
      background-color: transparent;
    }
  }


  img.emoji {
    height: 1rem;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border: 0;
    zoom: 1;
  }
}

.replybox__footer {
  height: 40px;
  display: flex;
  background-color: grey;
  flex-direction: row;
  justify-content: center;
  place-items: center;
}
